
<!DOCTYPE html>
<html lang="en" ng-app="humanitary">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Humanitary">
    <meta name="author" content="Daniel and Andrey">

    <title>Humanity</title>
    
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Google API CSS -->
    <link rel="stylesheet" href="assets/css/autocomplete.css">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="assets/images/logo.jpg" height="42" width="42"> / Registrar grupo</a>
        </div>

      </div><!-- /.navbar-collapse -->
    </nav>

    <ui-view></ui-view>

    <script type="text/ng-template" id="/home.html">
    <form name="groupForm" ng-submit="submitForm()" class="form-horizontal" novalidate>
      <fieldset>

      <!-- Nome do grupo -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="group_name">Nome do grupo</label>  
        <div class="col-md-5">
          <input id="group_name" name="group_name" ng-model="group_name" type="text" placeholder="Nome do grupo" class="form-control input-md" ng-class="{'form-error-border': submitted && groupForm.group_name.$error.required}" required>
          <span class="form-error" ng-show="submitted && groupForm.group_name.$error.required">Obrigatório</span>
        </div>
      </div>

      <!-- Descrição do Grupo -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="group_description">Descrição do Grupo</label>
        <div class="col-md-4">                     
          <textarea class="form-control" name="group_description" ng-model="group_description" placeholder="Descrição do Grupo" ng-class="{'form-error-border': submitted && groupForm.group_description.$error.required}" required></textarea>
          <span class="form-error" ng-show="submitted && groupForm.group_description.$error.required">Obrigatório</span>
        </div>
      </div>

      <!-- Nome do Responsavel-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="responsable_name">Nome do Responsavel</label>  
        <div class="col-md-6">
        <input id="responsable_name" name="responsable_name" ng-model="responsable_name" type="text" placeholder="Nome do Responsavel"  class="form-control input-md" ng-class="{'form-error-border': submitted && groupForm.responsable_name.$error.required}" ng-minlength="1" required>
        <span class="form-error" ng-show="submitted && groupForm.responsable_name.$error.required">Obrigatório</span>
          
        </div>
      </div>

      <!-- Telefone-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="group_phone">Telefone</label>  
        <div class="col-md-4">
        <input id="group_phone" name="group_phone" ng-model="group_phone" type="text" placeholder="Telefone" class="form-control input-md" ng-class="{'form-error-border': submitted && (groupForm.group_phone.$error.required || groupForm.group_phone.$error.minlength)}" minlength="14" maxlength="15" required mask='(dd) ddddd-dddd'>
        <span class="form-error" ng-show="submitted && (groupForm.group_phone.$error.required || groupForm.group_phone.$error.minlength || groupForm.group_phone.$error.maxlength)">Obrigatório</span>  
        </div>
      </div>

      <!-- Endereco de atuação -->

      <div class="jumbotron">
        <p class="address-title">Endereços de atuação:</p>

        <div class="presence" ng-repeat="presence in presenceList">

          <!-- Endereço -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="address">Endereço</label>  
            <div class="col-md-5">
            <input ng-attr-id="{{ 'address-' + $index }}" ng-attr-name="{{ 'address-' + $index }}" type="text" g-places-autocomplete placeholder="Endereço" ng-class="{'form-error-border': submitted && groupForm['address-'+$index].$error.required}" class="form-control input-md" ng-model="presence.address" required>
            <span class="form-error" ng-show="submitted && groupForm['address-'+$index].$error.required">Obrigatório</span> 
            </div>
          </div>

          <!-- Atividade -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="activity">Atividade</label>
            <div class="col-md-4">                     
              <textarea ng-attr-id="{{ 'activity-' + $index }}" ng-attr-name="{{ 'activity-' + $index }}" class="form-control" placeholder="Atividade" ng-class="{'form-error-border': submitted && groupForm['activity-'+$index].$error.required}" ng-model="presence.activity" required></textarea>
              <span class="form-error" ng-show="submitted && groupForm['activity-'+$index].$error.required">Obrigatório</span> 
            </div>
          </div>

          <div class="add-remove-entry">
            <button type="button" ng-show="$last === true" ng-click="addPresence()" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></button>
            <button type="button" ng-show="presenceList.length > 1" ng-click="removePresence($index)" class="btn btn-danger"><i class="glyphicon glyphicon-minus"></i></button>
          </div>

        </div>

      </div>

      <div class="wrapper">
        <button type="submit" ng-click="submitted = true" class="btn btn-success register">Cadastrar</button>
      </div>

      </fieldset>
    </form>
    </script>

    <script type="text/ng-template" id="success.html">
        <div class="modal-header success">
            <h3 class="modal-title">Sucesso</h3>
        </div>
        <div class="modal-body">
            Grupo cadastrado com sucesso!
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="close()">Fechar</button>
        </div>
    </script>

    <script type="text/ng-template" id="error.html">
        <div class="modal-header error">
            <h3 class="modal-title">Erro</h3>
        </div>
        <div class="modal-body">
            Erro durante o cadastro do Grupo, tente novamente!
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="close()">Fechar</button>
        </div>
    </script>

    <!-- JQuery library -->
    <script src="assets/js/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap library -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Angular JS library -->
    <script src="assets/js/angular.min.js"></script>

    <!-- Angular JS UI-Router library -->
    <script src="assets/js/angular-ui-router.min.js"></script>

    <!-- Angular JS UI library -->
    <script src="assets/js/ui-bootstrap-tpls-0.13.4.min.js"></script>

    <!-- Angular JS Geolocations library -->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="assets/js/autocomplete.js"></script>

    <!-- Angular JS Field Mask library -->
    <script src="assets/js/ngMask.min.js"></script>
    
    <!-- Angular JS App -->
    <script src="assets/js/app.js"></script>
    <script src="assets/js/config.js"></script>

    <!-- Angular JS App Controllers -->
    <script src="assets/js/main_controller.js"></script>

  </body>
</html>
